*{
    margin:0;
    padding:0;
}
html, body {
    height:auto;
  }
#container{
    background-size: 100% 100%;
    background-color: #2F4858;
    height: 100vh;
}
#header {
    background-color: #2F4858;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    padding: 10px;
    display: flex;
    list-style-type: none;
    font-weight: bold;
    background-color: #2F4858;
}
.navbar li {
    margin-right: 30px;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar li a:hover{
    text-decoration: underline;
    color: rgb(22, 146, 223);
}
.button {
    background-color: #86BBD8;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 10px;
    border: 3px solid #857e61
}
.button:hover{
    background-color: #33658A;
}
.containertwo{
    width: 100%;
    height:40%;
    display: flex;
    box-sizing: border-box;
}
.playerlist{
    padding: 10px;
    margin: 10px;
    height: 50vh;
    width: 12.5%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #33658A 0%, #33658A 10%, #86BBD8 10%, #86BBD8 100%);;
    font-weight: bold;
    border: 3px solid #857e61
}
.canvas{
    background-color: white;
    margin: 10px;
    width: 65%;
    height: 70vh;
    border: 3px solid #857e61
}
.chatbox{
    height: 80vh;
    width:20%;
    background-color: #33658A;
    padding: 10px;
    margin: 10px;
    border: 3px solid #857e61
}
.creategame{
    height: 1px;
    width: 3px;
    padding-left: 50%;
    padding-top: 80%;
    background-color: white;

}
@media screen and (max-width: 1000px){
    .containertwo{
        .otherfollows{
            display: none;
        }
        padding: 0px 20px;
    }
}
th, td {
  padding: 10px;
}
